<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="de.dlr.sc.virsat.model.Concept">
		<concept
			id="de.dlr.sc.virsat.model.extension.requirements"
			version="0.6"
			xmi="concept/concept.xmi">
		</concept>
	</extension>
	<extension point="de.dlr.sc.virsat.model.DvlmValidator">
		<dvlmValidator>
			<seiValidator
				id="de.dlr.sc.virsat.model.extension.requirements"
				class="de.dlr.sc.virsat.model.extension.requirements.validator.RequirementsValidator">
			</seiValidator>
		</dvlmValidator>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptTypeFactoryCaBeanRegistration">
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementsSpecification"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementsSpecification">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementsConfiguration"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementsConfiguration">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.VerificationConfiguration"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.VerificationConfiguration">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementGroup"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementGroup">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.Requirement"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.Requirement">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementLink"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementLink">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementTrace"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementTrace">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.AttributeValue"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.AttributeValue">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementType"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementType">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementLinkType"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementLinkType">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementAttribute"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementAttribute">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.ImportConfiguration"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.ImportConfiguration">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.SpecificationMapping"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.SpecificationMapping">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.EnumerationDefinition"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.EnumerationDefinition">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.EnumerationLiteral"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.EnumerationLiteral">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.DefaultVerification"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.DefaultVerification">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.VerificationType"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.VerificationType">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.ExistenceVerification"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.ExistenceVerification">
		</CategoryAssignmentBean>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptTypeFactorySeiBeanRegistration">
		<StructuralElementInstanceBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementsConfigurationCollection"
			seiBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementsConfigurationCollection">
		</StructuralElementInstanceBean>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.1"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v1"
		xmi="concept/concept_v0_1.xmi">
	</migrator>
</extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.2"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v2"
		xmi="concept/concept_v0_2.xmi">
	</migrator>
</extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.3"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v3"
		xmi="concept/concept_v0_3.xmi">
	</migrator>
</extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.4"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v4"
		xmi="concept/concept_v0_4.xmi">
	</migrator>
</extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.5"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v5"
		xmi="concept/concept_v0_5.xmi">
	</migrator>
</extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.6"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v6"
		xmi="concept/concept_v0_6.xmi">
	</migrator>
</extension>
	<!-- Plugin.XML Protected Region End -->
	<!-- Plugin.XML Protected Region Start -->
<extension-point id="de.dlr.sc.virsat.model.extension.requirements.verification" name="CustomVerification" schema="schema/de.dlr.sc.virsat.model.extension.requirements.verification.exsd"/>
<extension
         id="de.dlr.sc.virsat.model.extension.requirements.build.verification"
         name="VirSat Requirements Verification Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="de.dlr.sc.virsat.model.extension.requirements.verification.build.RequirementsVerificationBuilder" />
      </builder>
   </extension>
<extension
      name="Existence Verification"
      point="de.dlr.sc.virsat.model.extension.requirements.verification">
   <verification
         model_element="de.dlr.sc.virsat.model.extension.requirements.model.ExistenceVerification"
         verification_impl="de.dlr.sc.virsat.model.extension.requirements.verification.impl.ExistenceVerificationImpl">
   </verification>
</extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
