<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="de.dlr.sc.virsat.model.Concept">
		<concept
			id="de.dlr.sc.virsat.model.extension.requirements"
			version="0.2"
			xmi="concept/concept.xmi">
		</concept>
	</extension>
	<extension point="de.dlr.sc.virsat.model.DvlmValidator">
		<dvlmValidator>
			<seiValidator
				id="de.dlr.sc.virsat.model.extension.requirements"
				class="de.dlr.sc.virsat.model.extension.requirements.validator.RequirementsValidator">
			</seiValidator>
		</dvlmValidator>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptTypeFactoryCaBeanRegistration">
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementsSpecification"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementsSpecification">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementsConfiguration"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementsConfiguration">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementGroup"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementGroup">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.Requirement"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.Requirement">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.AttributeValue"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.AttributeValue">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementType"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementType">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementAttribute"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementAttribute">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.EnumerationDefinition"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.EnumerationDefinition">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.requirements.EnumerationLiteral"
			caBean="de.dlr.sc.virsat.model.extension.requirements.model.EnumerationLiteral">
		</CategoryAssignmentBean>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptTypeFactorySeiBeanRegistration">
		<StructuralElementInstanceBean
			id="de.dlr.sc.virsat.model.extension.requirements.RequirementsConfigurationCollection"
			seiBean="de.dlr.sc.virsat.model.extension.requirements.model.RequirementsConfigurationCollection">
		</StructuralElementInstanceBean>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.1"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v1"
		xmi="concept/concept_v0_1.xmi">
	</migrator>
</extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.requirements"
		version="0.2"
		class="de.dlr.sc.virsat.model.extension.requirements.migrator.Migrator0v2"
		xmi="concept/concept_v0_2.xmi">
	</migrator>
</extension>
	<!-- Plugin.XML Protected Region End -->
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
