<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
     id="de.dlr.sc.virsat.excel.ui.export"
     point="org.eclipse.ui.exportWizards">
	  <wizard
         category="de.dlr.virsat.global.category.export.virsat"
         class="de.dlr.sc.virsat.excel.ui.wizards.ExportWizard"
         icon="resources/icons/VirSat_General_ExcelExport.gif"
         id="de.dlr.sc.virsat.excel.ui.wizards.exportWizard"
         name="Excel Export Wizard">
	  </wizard>
      <category
            id="de.dlr.virsat.global.category.export.virsat"
            name="Virtual Satellite">
      </category>
  </extension>
   <extension
     id="de.dlr.sc.virsat.excel.ui.import"
     point="org.eclipse.ui.importWizards">
	  <wizard
         category="de.dlr.virsat.global.category.import.virsat"
         class="de.dlr.sc.virsat.excel.ui.wizards.ImportWizard"
         icon="resources/icons/VirSat_General_Excel_Import.gif"
         id="de.dlr.sc.virsat.excel.ui.wizards.importWizard"
         name="Excel Import Wizard">
	  </wizard>
      <category
            id="de.dlr.virsat.global.category.import.virsat"
            name="Virtual Satellite">
      </category>
  </extension>
	
</plugin>
