<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="Concept" name="Model Concept Extension" schema="schema/Concept.exsd"/>
   <extension-point id="DvlmValidator" name="DVLM Validator" schema="schema/de.dlr.sc.virsat.model.dvlm.validator.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8"
            class="de.dlr.sc.virsat.model.dvlm.DVLMPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/s"
            class="de.dlr.sc.virsat.model.dvlm.structural.StructuralPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/g"
            class="de.dlr.sc.virsat.model.dvlm.general.GeneralPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/c"
            class="de.dlr.sc.virsat.model.dvlm.concepts.ConceptsPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/r"
            class="de.dlr.sc.virsat.model.dvlm.roles.RolesPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/u"
            class="de.dlr.sc.virsat.model.dvlm.units.UnitsPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/t"
            class="de.dlr.sc.virsat.model.dvlm.types.TypesPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/cp"
            class="de.dlr.sc.virsat.model.dvlm.categories.CategoriesPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/cp/cppd"
            class="de.dlr.sc.virsat.model.dvlm.categories.propertydefinitions.PropertydefinitionsPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/cp/cppi"
            class="de.dlr.sc.virsat.model.dvlm.categories.propertyinstances.PropertyinstancesPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/qudv"
            class="de.dlr.sc.virsat.model.dvlm.qudv.QudvPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/calc"
            class="de.dlr.sc.virsat.model.dvlm.calculation.CalculationPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/i"
            class="de.dlr.sc.virsat.model.dvlm.inheritance.InheritancePackage"
            genModel="model/dvlm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dvlm -->
      <package
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/dmf"
            class="de.dlr.sc.virsat.model.dvlm.dmf.DmfPackage"
            genModel="model/dvlm.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.migrators">
      <migrator
            path="model/dvlm.history">
      </migrator>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="de.dlr.sc.virsat.model.dvlm.categories.propertyinstances.impl.PropertyinstancesFactoryImplCustom"
            predecessor="de.dlr.sc.virsat.model.dvlm.categories.propertyinstances.impl.PropertyinstancesFactoryImpl"
            uri="http://www.virsat.sc.dlr.de/dvlm/v8/cp/cppi">
      </factory>
   </extension>
   <extension
         point="de.dlr.sc.virsat.external.lib.commons.cli.CommandLineArguments">
     <clArgs
           command="superUser">
     </clArgs>
     <clArgs
            attribute="user"
            command="forcedUser">
     </clArgs>
   </extension>>
  
</plugin>
