<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="de.dlr.sc.virsat.model.Concept">
	<concept
	          id="testProject"
	          version="1.0"
	          xmi="concept/concept.xmi">
	    </concept>
	</extension>
	<extension point="de.dlr.sc.virsat.model.DvlmValidator">
		<dvlmValidator> 
			<seiValidator
				id="testProject"
				class="testProject.validator.StructuralElementInstanceValidator">
			</seiValidator>
		</dvlmValidator>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptTypeFactoryCaBeanRegistration">
		<CategoryAssignmentBean
			id="testProject.InterfaceEnd"
			caBean="testProject.model.InterfaceEnd">
		</CategoryAssignmentBean>
		<CategoryAssignmentBean
			id="testProject.Interface"
			caBean="testProject.model.Interface">
		</CategoryAssignmentBean>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<extension point="org.eclipse.ui.commands">
		<command
			id="de.dlr.sc.virsat.model.extension.testResource.ui.command.createStudyApp"
			name="Example Study App">
		</command>
	    <command
	        id="de.dlr.sc.virsat.model.extension.testResource.ui.command.createReplaceITApp"
	        name="Replace Interface Types App">
	    </command>
	    <command
	        id="de.dlr.sc.virsat.model.extension.testResource.ui.command.createAddUnitApp"
	        name="Add Unit App">
	    </command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.dlr.sc.virsat.model.extension.testResource.ui.handler.CreateAndOpenExampleStudyAppHandler"
			commandId="de.dlr.sc.virsat.model.extension.testResource.ui.command.createStudyApp">
		</handler>
	    <handler
	   		class="de.dlr.sc.virsat.model.extension.testResource.ui.handler.CreateAndOpenReplaceInterfaceTypesAppHandler"
	   		commandId="de.dlr.sc.virsat.model.extension.testResource.ui.command.createReplaceITApp">
	   </handler>
	    <handler
	   		class="de.dlr.sc.virsat.model.extension.testResource.ui.handler.CreateAndOpenAddUnitAppHandler"
	   		commandId="de.dlr.sc.virsat.model.extension.testResource.ui.command.createAddUnitApp">
	   </handler>
	</extension>
	<extension
		point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType
			id="de.dlr.sc.virsat.model.extension.testResource.ui.diagramType"
			name="Interfaces Diagram"
			type="interfaces">
		</diagramType>
	</extension>
	<extension
		point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="de.dlr.sc.virsat.model.extension.testResource.ui.diagram.InterfaceDiagramTypeProvider"
			context="org.eclipse.graphiti.ui.diagramEditor"
			id="de.dlr.sc.virsat.model.extension.testResource.ui.diagramTypeProvider"
			name="Interface Editor">
			<diagramType
				id="de.dlr.sc.virsat.model.extension.testResource.ui.diagramType">
			</diagramType>
		   <imageProvider
		         id="de.dlr.sc.virsat.model.extension.testResource.ui.diagram.interfaceDiagramImageProvider">
		   </imageProvider>
		</diagramTypeProvider>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
        class="de.dlr.sc.virsat.model.extension.testResource.ui.diagram.editor.InterfaceDiagramEditor"
        contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
        default="false"
        extensions="dvlmif"
        icon="resources/icons/Dvlmif.gif"
        id="de.dlr.sc.virsat.model.extension.testResource.ui.diagramTypeProvider.editor"
        matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
        name="Interface Editor">
		</editor>
	</extension>
 <extension
       point="org.eclipse.graphiti.ui.imageProviders">
    <imageProvider
          class="de.dlr.sc.virsat.model.extension.testResource.ui.diagram.InterfaceDiagramImageProvider"
          id="de.dlr.sc.virsat.model.extension.testResource.ui.diagram.interfaceDiagramImageProvider">
    </imageProvider>
 </extension>
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="testProject"
		version="1.0"
		class="testProject.migrator.Migrator1v0"
		xmi="concept/concept_v1_0.xmi">
	</migrator>
</extension>
	<!-- Plugin.XML Protected Region End -->
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
