<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.thermal.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.thermal.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.TemperatureBoundary"
		pathToImage="resources/icons/TemperatureBoundary.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.HeatFlowToFace"
		pathToImage="resources/icons/HeatFlowToFace.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.AnalysisType"
		pathToImage="resources/icons/AnalysisType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.Reports"
		pathToImage="resources/icons/Reports.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalElementParameters"
		pathToImage="resources/icons/ThermalElementParameters.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.FaceRadiation"
		pathToImage="resources/icons/FaceRadiation.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalPort"
		pathToImage="resources/icons/ThermalPort.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalInterface"
		pathToImage="resources/icons/ThermalInterface.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.Material"
		pathToImage="resources/icons/Material.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ComponentMeshSize"
		pathToImage="resources/icons/ComponentMeshSize.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ComponentResult"
		pathToImage="resources/icons/ComponentResult.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalAnalysis"
		pathToImage="resources/icons/ThermalAnalysis.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalData"
		pathToImage="resources/icons/ThermalData.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.SingleFaceRadiationList"
		pathToImage="resources/icons/SingleFaceRadiationList.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalContacts"
		pathToImage="resources/icons/ThermalContacts.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalPortList"
		pathToImage="resources/icons/ThermalPortList.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalInterfaceList"
		pathToImage="resources/icons/ThermalInterfaceList.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.BoundaryConditions"
		pathToImage="resources/icons/BoundaryConditions.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.MaterialCollection"
		pathToImage="resources/icons/MaterialCollection.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.MeshSizes"
		pathToImage="resources/icons/MeshSizes.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.ThermalAnalysisResults"
		pathToImage="resources/icons/ThermalAnalysisResults.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.thermal.AnalysisResult"
		pathToImage="resources/icons/AnalysisResult.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddTemperatureBoundary"
		name="Add TemperatureBoundary">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddHeatFlowToFace"
		name="Add HeatFlowToFace">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisType"
		name="Add AnalysisType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddReports"
		name="Add Reports">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalElementParameters"
		name="Add ThermalElementParameters">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddFaceRadiation"
		name="Add FaceRadiation">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPort"
		name="Add ThermalPort">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterface"
		name="Add ThermalInterface">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterial"
		name="Add Material">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentMeshSize"
		name="Add ComponentMeshSize">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentResult"
		name="Add ComponentResult">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysis"
		name="Add ThermalAnalysis">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalData"
		name="Add ThermalData">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddSingleFaceRadiationList"
		name="Add SingleFaceRadiationList">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalContacts"
		name="Add ThermalContacts">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPortList"
		name="Add ThermalPortList">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterfaceList"
		name="Add ThermalInterfaceList">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddBoundaryConditions"
		name="Add BoundaryConditions">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterialCollection"
		name="Add MaterialCollection">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMeshSizes"
		name="Add MeshSizes">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysisResults"
		name="Add ThermalAnalysisResults">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisResult"
		name="Add AnalysisResult">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddTemperatureBoundary"
	      disabledIcon="resources/icons/TemperatureBoundary_disabled.gif"
	      icon="resources/icons/TemperatureBoundary.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddHeatFlowToFace"
	      disabledIcon="resources/icons/HeatFlowToFace_disabled.gif"
	      icon="resources/icons/HeatFlowToFace.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisType"
	      disabledIcon="resources/icons/AnalysisType_disabled.gif"
	      icon="resources/icons/AnalysisType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddReports"
	      disabledIcon="resources/icons/Reports_disabled.gif"
	      icon="resources/icons/Reports.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalElementParameters"
	      disabledIcon="resources/icons/ThermalElementParameters_disabled.gif"
	      icon="resources/icons/ThermalElementParameters.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddFaceRadiation"
	      disabledIcon="resources/icons/FaceRadiation_disabled.gif"
	      icon="resources/icons/FaceRadiation.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPort"
	      disabledIcon="resources/icons/ThermalPort_disabled.gif"
	      icon="resources/icons/ThermalPort.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterface"
	      disabledIcon="resources/icons/ThermalInterface_disabled.gif"
	      icon="resources/icons/ThermalInterface.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterial"
	      disabledIcon="resources/icons/Material_disabled.gif"
	      icon="resources/icons/Material.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentMeshSize"
	      disabledIcon="resources/icons/ComponentMeshSize_disabled.gif"
	      icon="resources/icons/ComponentMeshSize.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentResult"
	      disabledIcon="resources/icons/ComponentResult_disabled.gif"
	      icon="resources/icons/ComponentResult.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysis"
	      disabledIcon="resources/icons/ThermalAnalysis_disabled.gif"
	      icon="resources/icons/ThermalAnalysis.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalData"
	      disabledIcon="resources/icons/ThermalData_disabled.gif"
	      icon="resources/icons/ThermalData.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddSingleFaceRadiationList"
	      disabledIcon="resources/icons/SingleFaceRadiationList_disabled.gif"
	      icon="resources/icons/SingleFaceRadiationList.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalContacts"
	      disabledIcon="resources/icons/ThermalContacts_disabled.gif"
	      icon="resources/icons/ThermalContacts.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPortList"
	      disabledIcon="resources/icons/ThermalPortList_disabled.gif"
	      icon="resources/icons/ThermalPortList.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterfaceList"
	      disabledIcon="resources/icons/ThermalInterfaceList_disabled.gif"
	      icon="resources/icons/ThermalInterfaceList.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddBoundaryConditions"
	      disabledIcon="resources/icons/BoundaryConditions_disabled.gif"
	      icon="resources/icons/BoundaryConditions.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterialCollection"
	      disabledIcon="resources/icons/MaterialCollection_disabled.gif"
	      icon="resources/icons/MaterialCollection.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMeshSizes"
	      disabledIcon="resources/icons/MeshSizes_disabled.gif"
	      icon="resources/icons/MeshSizes.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysisResults"
	      disabledIcon="resources/icons/ThermalAnalysisResults_disabled.gif"
	      icon="resources/icons/ThermalAnalysisResults.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisResult"
	      disabledIcon="resources/icons/AnalysisResult_disabled.gif"
	      icon="resources/icons/AnalysisResult.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddTemperatureBoundaryHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddTemperatureBoundary">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddHeatFlowToFaceHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddHeatFlowToFace">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddAnalysisTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddReportsHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddReports">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddThermalElementParametersHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalElementParameters">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddFaceRadiationHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddFaceRadiation">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddThermalPortHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPort">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddThermalInterfaceHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterface">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddMaterialHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterial">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddComponentMeshSizeHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentMeshSize">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddComponentResultHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentResult">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceThermalAnalysisHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysis">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceThermalDataHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalData">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceSingleFaceRadiationListHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddSingleFaceRadiationList">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceThermalContactsHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalContacts">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceThermalPortListHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPortList">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceThermalInterfaceListHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterfaceList">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceBoundaryConditionsHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddBoundaryConditions">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceMaterialCollectionHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterialCollection">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceMeshSizesHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMeshSizes">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceThermalAnalysisResultsHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysisResults">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.thermal.ui.handler.AddStructuralElementInstanceAnalysisResultHandler"
		commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisResult">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.thermal.menu" 
		        label="Thermal"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.thermal.gif"
		        tooltip="Concept for modeling thermal properties">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.thermal.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddTemperatureBoundary"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddHeatFlowToFace"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddReports"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalElementParameters"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddFaceRadiation"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPort"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterface"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterial"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentMeshSize"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddComponentResult"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.thermal.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysis"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalData"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddSingleFaceRadiationList"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalContacts"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalPortList"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalInterfaceList"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddBoundaryConditions"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMaterialCollection"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddMeshSizes"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddThermalAnalysisResults"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.thermal.ui.command.AddAnalysisResult"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.thermal.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetTemperatureBoundary"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableTemperatureBoundary">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetTemperatureBoundary"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionTemperatureBoundary">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetHeatFlowToFace"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableHeatFlowToFace">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetHeatFlowToFace"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionHeatFlowToFace">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetAnalysisType"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableAnalysisType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetAnalysisType"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionAnalysisType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetReports"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableReports">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetReports"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionReports">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetThermalElementParameters"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableThermalElementParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetThermalElementParameters"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionThermalElementParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetFaceRadiation"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableFaceRadiation">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetFaceRadiation"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionFaceRadiation">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetThermalPort"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableThermalPort">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetThermalPort"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionThermalPort">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetThermalInterface"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableThermalInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetThermalInterface"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionThermalInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetThermalInterfaceContacts"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableThermalInterfaceContacts">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetMaterial"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableMaterial">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetMaterial"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionMaterial">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetComponentMeshSize"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableComponentMeshSize">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetComponentMeshSize"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionComponentMeshSize">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.table.uiSnippetComponentResult"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetTableComponentResult">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.thermal.section.uiSnippetComponentResult"
		      section="de.dlr.sc.virsat.model.extension.thermal.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.thermal.ui.snippet.UiSnippetSectionComponentResult">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
