<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.sequencing.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.sequencing.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.sequencing.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.sequencing"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.sequencing.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.sequencing.EventToOutputMapping"
		pathToImage="resources/icons/EventToOutputMapping.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.sequencing.SequenceEntry"
		pathToImage="resources/icons/SequenceEntry.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.sequencing.Sequence"
		pathToImage="resources/icons/Sequence.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddEventToOutputMapping"
		name="Add EventToOutputMapping">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequenceEntry"
		name="Add SequenceEntry">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequence"
		name="Add Sequence">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddEventToOutputMapping"
	      disabledIcon="resources/icons/EventToOutputMapping_disabled.gif"
	      icon="resources/icons/EventToOutputMapping.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequenceEntry"
	      disabledIcon="resources/icons/SequenceEntry_disabled.gif"
	      icon="resources/icons/SequenceEntry.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequence"
	      disabledIcon="resources/icons/Sequence_disabled.gif"
	      icon="resources/icons/Sequence.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.sequencing.ui.handler.AddEventToOutputMappingHandler"
		commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddEventToOutputMapping">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.sequencing.ui.handler.AddSequenceEntryHandler"
		commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequenceEntry">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.sequencing.ui.handler.AddSequenceHandler"
		commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequence">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.sequencing.menu" 
		        label="Sequencing"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.sequencing.gif"
		        tooltip="Sequencing Concept">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.sequencing.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.sequencing.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddEventToOutputMapping"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.sequencing.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequenceEntry"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.sequencing.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.sequencing.ui.command.AddSequence"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.sequencing.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.sequencing.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.table.uiSnippetEventToOutputMapping"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetTableEventToOutputMapping">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.section.uiSnippetEventToOutputMapping"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetSectionEventToOutputMapping">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.table.uiSnippetEventToOutputMappingInterfaceEnds"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetTableEventToOutputMappingInterfaceEnds">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.table.uiSnippetEventToOutputMappingOutputStates"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetTableEventToOutputMappingOutputStates">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.table.uiSnippetSequenceEntry"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetTableSequenceEntry">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.section.uiSnippetSequenceEntry"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetSectionSequenceEntry">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.table.uiSnippetSequence"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetTableSequence">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.section.uiSnippetSequence"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetSectionSequence">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.sequencing.table.uiSnippetSequenceSequenceEntriesSequenceEntry"
		      section="de.dlr.sc.virsat.model.extension.sequencing.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.sequencing.ui.snippet.UiSnippetTableSequenceSequenceEntriesSequenceEntry">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
