<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
      <uiSnippet
            id="de.dlr.sc.virsat.uiengine.ui.uiSnippetJavaScriptLanguage"
            section="de.dlr.sc.virsat.uiengine.ui.editorSection.JavaScriptLanguage"
            snippet="de.dlr.sc.virsat.apps.ui.editor.snippet.UiSnippetVirSatApps">
      </uiSnippet>
   </extension>
   <extension
         point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
      <editorSection
            id="de.dlr.sc.virsat.uiengine.ui.editorSection.JavaScriptLanguage"
            topRanking="200">
      </editorSection>
   </extension>
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.dlr.sc.virsat.apps.ui.navigator.content.AppsFolderContentProvider"
            id="de.dlr.sc.virsat.apps.model.folder.content"
            labelProvider="de.dlr.sc.virsat.project.ui.navigator.labelProvider.VirSatStructuralElementInstanceFolderLabelProvider"
            name="VirSat - Apps Folder"
            priority="highest"
            providesSaveables="false">
         <possibleChildren>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="de.dlr.sc.virsat.model.dvlm.Repository">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof></or>
         </triggerPoints>
         <dropAssistant
               class="de.dlr.sc.virsat.project.ui.navigator.dropAssist.VirSatStructuralElementInstanceFolderDropAdapterAssistant"
               id="de.dlr.sc.virsat.project.ui.dropAssistant1">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
            viewerId="de.dlr.sc.virsat.project.ui.navigator.view">
         <includes>
          	<contentExtension
                  isRoot="false"
                  pattern="de.dlr.sc.virsat.apps.model.folder.content">
            </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:org.eclipse.ui.main.menu?after=additions">
        <menu
              id="de.dlr.sc.virsat.apps.ui.menu.apps"
              label="Apps"
              tooltip="VirSat Model Apps">
           <separator
                 name="core">
           </separator>
           <separator
                 name="additions">
           </separator>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="de.dlr.sc.virsat.apps.ui.startup.StartupDebugWorkspaceSynchronization">
     </startup>
  </extension>

</plugin>
