<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.ps.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.ps.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.Document"
		pathToImage="resources/icons/Document.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ProductTree"
		pathToImage="resources/icons/ProductTree.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ProductTreeDomain"
		pathToImage="resources/icons/ProductTreeDomain.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ElementDefinition"
		pathToImage="resources/icons/ElementDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ConfigurationTree"
		pathToImage="resources/icons/ConfigurationTree.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ElementConfiguration"
		pathToImage="resources/icons/ElementConfiguration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.AssemblyTree"
		pathToImage="resources/icons/AssemblyTree.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ElementOccurence"
		pathToImage="resources/icons/ElementOccurence.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ProductStorage"
		pathToImage="resources/icons/ProductStorage.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ProductStorageDomain"
		pathToImage="resources/icons/ProductStorageDomain.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.ps.ElementRealization"
		pathToImage="resources/icons/ElementRealization.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddDocument"
		name="Add Document">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTree"
		name="Add ProductTree">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTreeDomain"
		name="Add ProductTreeDomain">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementDefinition"
		name="Add ElementDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddConfigurationTree"
		name="Add ConfigurationTree">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementConfiguration"
		name="Add ElementConfiguration">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddAssemblyTree"
		name="Add AssemblyTree">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementOccurence"
		name="Add ElementOccurence">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorage"
		name="Add ProductStorage">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorageDomain"
		name="Add ProductStorageDomain">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementRealization"
		name="Add ElementRealization">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddDocument"
	      disabledIcon="resources/icons/Document_disabled.gif"
	      icon="resources/icons/Document.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTree"
	      disabledIcon="resources/icons/ProductTree_disabled.gif"
	      icon="resources/icons/ProductTree.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTreeDomain"
	      disabledIcon="resources/icons/ProductTreeDomain_disabled.gif"
	      icon="resources/icons/ProductTreeDomain.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementDefinition"
	      disabledIcon="resources/icons/ElementDefinition_disabled.gif"
	      icon="resources/icons/ElementDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddConfigurationTree"
	      disabledIcon="resources/icons/ConfigurationTree_disabled.gif"
	      icon="resources/icons/ConfigurationTree.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementConfiguration"
	      disabledIcon="resources/icons/ElementConfiguration_disabled.gif"
	      icon="resources/icons/ElementConfiguration.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddAssemblyTree"
	      disabledIcon="resources/icons/AssemblyTree_disabled.gif"
	      icon="resources/icons/AssemblyTree.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementOccurence"
	      disabledIcon="resources/icons/ElementOccurence_disabled.gif"
	      icon="resources/icons/ElementOccurence.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorage"
	      disabledIcon="resources/icons/ProductStorage_disabled.gif"
	      icon="resources/icons/ProductStorage.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorageDomain"
	      disabledIcon="resources/icons/ProductStorageDomain_disabled.gif"
	      icon="resources/icons/ProductStorageDomain.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementRealization"
	      disabledIcon="resources/icons/ElementRealization_disabled.gif"
	      icon="resources/icons/ElementRealization.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddDocumentHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddDocument">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceProductTreeHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTree">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceProductTreeDomainHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTreeDomain">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceElementDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceConfigurationTreeHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddConfigurationTree">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceElementConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementConfiguration">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceAssemblyTreeHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddAssemblyTree">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceElementOccurenceHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementOccurence">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceProductStorageHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorage">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceProductStorageDomainHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorageDomain">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.ps.ui.handler.AddStructuralElementInstanceElementRealizationHandler"
		commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementRealization">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.ps.menu" 
		        label="Product Structure"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.ps.gif"
		        tooltip="Product Structure Concept">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.ps.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddDocument"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.ps.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTree"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductTreeDomain"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddConfigurationTree"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddAssemblyTree"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementOccurence"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorage"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddProductStorageDomain"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.AddElementRealization"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.ps.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.ps.table.uiSnippetDocument"
		      section="de.dlr.sc.virsat.model.extension.ps.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.ps.ui.snippet.UiSnippetTableDocument">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.ps.section.uiSnippetDocument"
		      section="de.dlr.sc.virsat.model.extension.ps.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.ps.ui.snippet.UiSnippetSectionDocument">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.commands">
				
						<command
							id="de.dlr.sc.virsat.model.extension.ps.ui.command.Generate"
						    name="Generate Product Wizard">
						</command>
      <command
            id="de.dlr.sc.virsat.model.extension.ps.ui.command.Configure"
            name="Configure Product Wizard">
      </command>
					</extension>
					<extension point="org.eclipse.ui.commandImages">
						<image
						    commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.Generate"
							disabledIcon="resources/icons/ProductStructureWizzard_disabled.gif"
							icon="resources/icons/ProductStructureWizzard.gif">
						</image>
      <image
            commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.Configure"
            disabledIcon="resources/icons/ProductStructureWizzard_disabled.gif"
            icon="resources/icons/ConfigureProductWizard.gif">
      </image>
					</extension>
					<extension
						point="org.eclipse.ui.menus">       
						<menuContribution
							allPopups="false"
							locationURI="popup:de.dlr.sc.virsat.model.extension.ps.menu?after=tools">
			      <separator
			            name="de.dlr.sc.virsat.model.extension.ps.ui.separator1"
			            visible="true">
			      </separator>
							<command
								commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.Generate"
								style="push">
								<visibleWhen
									checkEnabled="true">
									<with
										variable="selection">
										<iterate
											ifEmpty="false"
											operator="and">
											<test
												forcePluginActivation="true"
												property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
												value="true">
											</test>
											<instanceof
												value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
											</instanceof>
										</iterate>
									</with>
								</visibleWhen>
							</command>
       <command
             commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.Configure"
             style="push">
          <visibleWhen
                checkEnabled="true">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <test
                         forcePluginActivation="true"
                         property="de.dlr.sc.virsat.model.extension.ps.ui.propertyTester.conceptEnabled"
                         value="true">
                   </test>
                   <instanceof
                         value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
                   </instanceof>
                </iterate>
             </with>
          </visibleWhen>
       </command>
						</menuContribution>    
					</extension>
					<extension point="org.eclipse.ui.handlers">
						<handler
							class="de.dlr.sc.virsat.model.extension.ps.ui.handler.GenerateHandler"
							commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.Generate">
						</handler>
						 <handler
				            class="de.dlr.sc.virsat.model.extension.ps.ui.handler.ConfigureHandler"
				            commandId="de.dlr.sc.virsat.model.extension.ps.ui.command.Configure">
     				 </handler>
					</extension>
     <extension
           point="de.dlr.sc.virsat.project.ui.navigator">
        <DVLMConceptDropAssistant
              class="de.dlr.sc.virsat.model.extension.ps.ui.dropAdapter.ProductStructureInheritanceDropAdapterAssistant"
              conceptId="de.dlr.sc.virsat.model.extension.ps">
        </DVLMConceptDropAssistant>
     </extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
