<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="de.dlr.sc.virsat.model.Concept">
	<concept
	          id="de.dlr.sc.virsat.model.extension.core"
	          version="1.0"
	          xmi="concept/concept.xmi">
	    </concept>
	</extension>
	<extension point="de.dlr.sc.virsat.build.DvlmValidator">
		<dvlmValidator>
			<seiValidator
				id="de.dlr.sc.virsat.model.extension.core"
				class="de.dlr.sc.virsat.model.extension.core.validator.StructuralElementInstanceValidator">
			</seiValidator>
		</dvlmValidator>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptTypeFactoryCaBeanRegistration">
		<CategoryAssignmentBean
			id="de.dlr.sc.virsat.model.extension.core.GenericCategory"
			caBean="de.dlr.sc.virsat.model.extension.core.model.GenericCategory">
		</CategoryAssignmentBean>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="de.dlr.sc.virsat.model.edit.ConceptMigrator">
	<migrator
		id="de.dlr.sc.virsat.model.extension.core"
		version="1.0"
		class="de.dlr.sc.virsat.model.extension.core.migrator.Migrator1v0"
		xmi="concept/concept_v1_0.xmi">
	</migrator>
</extension>
	<!-- Plugin.XML Protected Region End -->
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
