<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.tests.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.tests.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryAllProperty"
		pathToImage="resources/icons/TestCategoryAllProperty.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryComposition"
		pathToImage="resources/icons/TestCategoryComposition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryReference"
		pathToImage="resources/icons/TestCategoryReference.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryIntrinsicArray"
		pathToImage="resources/icons/TestCategoryIntrinsicArray.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryCompositionArray"
		pathToImage="resources/icons/TestCategoryCompositionArray.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryReferenceArray"
		pathToImage="resources/icons/TestCategoryReferenceArray.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryBeanA"
		pathToImage="resources/icons/TestCategoryBeanA.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryBeanB"
		pathToImage="resources/icons/TestCategoryBeanB.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryBeanAbstract"
		pathToImage="resources/icons/TestCategoryBeanAbstract.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryBeanConcrete"
		pathToImage="resources/icons/TestCategoryBeanConcrete.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryBase"
		pathToImage="resources/icons/TestCategoryBase.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCategoryExtends"
		pathToImage="resources/icons/TestCategoryExtends.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestParameter"
		pathToImage="resources/icons/TestParameter.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestMassParameters"
		pathToImage="resources/icons/TestMassParameters.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestCrossLinkedParametersWithCalculation"
		pathToImage="resources/icons/TestCrossLinkedParametersWithCalculation.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.EReferenceTest"
		pathToImage="resources/icons/EReferenceTest.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestStructuralElement"
		pathToImage="resources/icons/TestStructuralElement.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.tests.TestStructuralElementOther"
		pathToImage="resources/icons/TestStructuralElementOther.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryAllProperty"
		name="Add TestCategoryAllProperty">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryComposition"
		name="Add TestCategoryComposition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReference"
		name="Add TestCategoryReference">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryIntrinsicArray"
		name="Add TestCategoryIntrinsicArray">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryCompositionArray"
		name="Add TestCategoryCompositionArray">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReferenceArray"
		name="Add TestCategoryReferenceArray">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanA"
		name="Add TestCategoryBeanA">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanB"
		name="Add TestCategoryBeanB">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanConcrete"
		name="Add TestCategoryBeanConcrete">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBase"
		name="Add TestCategoryBase">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryExtends"
		name="Add TestCategoryExtends">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestParameter"
		name="Add TestParameter">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestMassParameters"
		name="Add TestMassParameters">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCrossLinkedParametersWithCalculation"
		name="Add TestCrossLinkedParametersWithCalculation">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddEReferenceTest"
		name="Add EReferenceTest">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElement"
		name="Add TestStructuralElement">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElementOther"
		name="Add TestStructuralElementOther">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryAllProperty"
	      disabledIcon="resources/icons/TestCategoryAllProperty_disabled.gif"
	      icon="resources/icons/TestCategoryAllProperty.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryComposition"
	      disabledIcon="resources/icons/TestCategoryComposition_disabled.gif"
	      icon="resources/icons/TestCategoryComposition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReference"
	      disabledIcon="resources/icons/TestCategoryReference_disabled.gif"
	      icon="resources/icons/TestCategoryReference.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryIntrinsicArray"
	      disabledIcon="resources/icons/TestCategoryIntrinsicArray_disabled.gif"
	      icon="resources/icons/TestCategoryIntrinsicArray.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryCompositionArray"
	      disabledIcon="resources/icons/TestCategoryCompositionArray_disabled.gif"
	      icon="resources/icons/TestCategoryCompositionArray.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReferenceArray"
	      disabledIcon="resources/icons/TestCategoryReferenceArray_disabled.gif"
	      icon="resources/icons/TestCategoryReferenceArray.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanA"
	      disabledIcon="resources/icons/TestCategoryBeanA_disabled.gif"
	      icon="resources/icons/TestCategoryBeanA.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanB"
	      disabledIcon="resources/icons/TestCategoryBeanB_disabled.gif"
	      icon="resources/icons/TestCategoryBeanB.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanConcrete"
	      disabledIcon="resources/icons/TestCategoryBeanConcrete_disabled.gif"
	      icon="resources/icons/TestCategoryBeanConcrete.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBase"
	      disabledIcon="resources/icons/TestCategoryBase_disabled.gif"
	      icon="resources/icons/TestCategoryBase.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryExtends"
	      disabledIcon="resources/icons/TestCategoryExtends_disabled.gif"
	      icon="resources/icons/TestCategoryExtends.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestParameter"
	      disabledIcon="resources/icons/TestParameter_disabled.gif"
	      icon="resources/icons/TestParameter.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestMassParameters"
	      disabledIcon="resources/icons/TestMassParameters_disabled.gif"
	      icon="resources/icons/TestMassParameters.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCrossLinkedParametersWithCalculation"
	      disabledIcon="resources/icons/TestCrossLinkedParametersWithCalculation_disabled.gif"
	      icon="resources/icons/TestCrossLinkedParametersWithCalculation.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddEReferenceTest"
	      disabledIcon="resources/icons/EReferenceTest_disabled.gif"
	      icon="resources/icons/EReferenceTest.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElement"
	      disabledIcon="resources/icons/TestStructuralElement_disabled.gif"
	      icon="resources/icons/TestStructuralElement.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElementOther"
	      disabledIcon="resources/icons/TestStructuralElementOther_disabled.gif"
	      icon="resources/icons/TestStructuralElementOther.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryAllPropertyHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryAllProperty">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryCompositionHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryComposition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryReferenceHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReference">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryIntrinsicArrayHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryIntrinsicArray">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryCompositionArrayHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryCompositionArray">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryReferenceArrayHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReferenceArray">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryBeanAHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanA">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryBeanBHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanB">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryBeanConcreteHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanConcrete">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryBaseHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBase">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCategoryExtendsHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryExtends">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestParameterHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestParameter">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestMassParametersHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestMassParameters">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddTestCrossLinkedParametersWithCalculationHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCrossLinkedParametersWithCalculation">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddEReferenceTestHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddEReferenceTest">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddStructuralElementInstanceTestStructuralElementHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElement">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.tests.ui.handler.AddStructuralElementInstanceTestStructuralElementOtherHandler"
		commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElementOther">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.tests.menu" 
		        label="de.dlr.sc.virsat.model.extension.tests"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.tests.gif"
		        tooltip="A pure test concept to check that everything is working as expected">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.tests.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryAllProperty"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryComposition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReference"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryIntrinsicArray"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryCompositionArray"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryReferenceArray"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanA"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanB"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBeanConcrete"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryBase"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCategoryExtends"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestParameter"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestMassParameters"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestCrossLinkedParametersWithCalculation"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddEReferenceTest"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.tests.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElement"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.tests.ui.command.AddTestStructuralElementOther"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.tests.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.tests.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryAllProperty"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryAllProperty">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryAllProperty"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryAllProperty">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryComposition"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryComposition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryComposition"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryComposition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryReference"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryReference">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryReference"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryReference">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryIntrinsicArray"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryIntrinsicArray">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryIntrinsicArray"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryIntrinsicArray">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryIntrinsicArrayTestStringArrayDynamic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryIntrinsicArrayTestStringArrayDynamic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryIntrinsicArrayTestStringArrayStatic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryIntrinsicArrayTestStringArrayStatic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryCompositionArray"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryCompositionArray">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryCompositionArray"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryCompositionArray">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryCompositionArrayTestCompositionArrayDynamicTestCategoryAllProperty"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryCompositionArrayTestCompositionArrayDynamicTestCategoryAllProperty">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryCompositionArrayTestCompositionArrayStatic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryCompositionArrayTestCompositionArrayStatic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryReferenceArray"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryReferenceArray">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryReferenceArray"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryReferenceArray">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryReferenceArrayTestCategoryReferenceArrayDynamic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryReferenceArrayTestCategoryReferenceArrayDynamic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryReferenceArrayTestCategoryReferenceArrayStatic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryReferenceArrayTestCategoryReferenceArrayStatic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryReferenceArrayTestPropertyReferenceArrayDynamic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryReferenceArrayTestPropertyReferenceArrayDynamic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryReferenceArrayTestPropertyReferenceArrayStatic"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryReferenceArrayTestPropertyReferenceArrayStatic">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryBeanA"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryBeanA">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryBeanA"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryBeanA">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryBeanB"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryBeanB">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryBeanB"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryBeanB">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryBeanConcrete"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryBeanConcrete">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryBeanConcrete"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryBeanConcrete">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryBase"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryBase">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryBase"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryBase">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryBaseTestArrayTestCategoryBase"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryBaseTestArrayTestCategoryBase">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryBaseTestArrayTestCategoryExtends"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryBaseTestArrayTestCategoryExtends">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryExtends"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryExtends">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCategoryExtends"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCategoryExtends">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryExtendsTestArrayTestCategoryBase"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryExtendsTestArrayTestCategoryBase">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCategoryExtendsTestArrayTestCategoryExtends"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCategoryExtendsTestArrayTestCategoryExtends">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestParameter"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestParameter">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestParameter"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestParameter">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestMassParameters"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestMassParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestMassParameters"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestMassParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetTestCrossLinkedParametersWithCalculation"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableTestCrossLinkedParametersWithCalculation">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetTestCrossLinkedParametersWithCalculation"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionTestCrossLinkedParametersWithCalculation">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.table.uiSnippetEReferenceTest"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetTableEReferenceTest">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.tests.section.uiSnippetEReferenceTest"
		      section="de.dlr.sc.virsat.model.extension.tests.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.tests.ui.snippet.UiSnippetSectionEReferenceTest">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
