<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          id="de.dlr.sc.virsat.build.validator"
          name="VirSat Project Validator"
          point="org.eclipse.core.resources.builders">
       <builder hasNature="true">
       		<run class="de.dlr.sc.virsat.build.validator.VirSatValidatorBuilder"/>
       </builder>
    </extension>
    <extension
          id="de.dlr.sc.virsat.build.inheritance"
          name="VirSat Project Inheritance Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="de.dlr.sc.virsat.build.inheritance.VirSatInheritanceBuilder">
          </run>
       </builder>
    </extension>
    <extension
          point="de.dlr.sc.virsat.model.DvlmValidator">
       <dvlmValidator>
          <repoValidator
                class="de.dlr.sc.virsat.build.validator.core.DvlmRepositoryUniqeNameValidator"
                id="de.dlr.sc.virsat.build.dvlmRepositoryUniqeNameValidator">
          </repoValidator>
       </dvlmValidator>
    </extension>
    <extension
          point="de.dlr.sc.virsat.model.DvlmValidator">
       <dvlmValidator>
          <seiValidator
                class="de.dlr.sc.virsat.build.validator.core.DvlmSEIsUniqeNameValidator"
                id="de.dlr.sc.virsat.build.dvlmSEIsUniqeNameValidator">
          </seiValidator>
       </dvlmValidator>
    </extension>
    <extension
          point="de.dlr.sc.virsat.model.DvlmValidator">
       <dvlmValidator>
          <seiValidator
                class="de.dlr.sc.virsat.build.validator.core.DvlmNamingConventionValidator"
                id="de.dlr.sc.virsat.build.dvlmNamingConventionValidator">
          </seiValidator>
       </dvlmValidator>
    </extension>
    <extension
          point="de.dlr.sc.virsat.model.DvlmValidator">
       <dvlmValidator>
          <seiValidator
                class="de.dlr.sc.virsat.build.validator.core.DvlmResolvedStructuralElementInstanceValidator"
                id="de.dlr.sc.virsat.build.dvlmResolvedStructuralElementInstanceValidator">
          </seiValidator>
       </dvlmValidator>
    </extension>
    <extension
          point="de.dlr.sc.virsat.model.DvlmValidator">
       <dvlmValidator>
          <repoValidator
                class="de.dlr.sc.virsat.build.validator.core.DvlmLatestConceptValidator"
                id="de.dlr.sc.virsat.build.dvlmLatestConceptValidator">
          </repoValidator>
       </dvlmValidator>
    </extension>
     <extension
           point="de.dlr.sc.virsat.model.DvlmValidator">
        <dvlmValidator>
           <repoValidator
                 class="de.dlr.sc.virsat.build.validator.core.DvlmRepositoryDefaultQuantityKindValidator"
                 id="de.dlr.sc.virsat.build.dvlmLatestConceptValidator">
           </repoValidator>
        </dvlmValidator>
     </extension>
     <extension
           point="de.dlr.sc.virsat.model.DvlmValidator">
        <dvlmValidator>
           <seiValidator
                 class="de.dlr.sc.virsat.build.validator.core.DvlmMissingResourcePropertyValidator"
                 id="de.dlr.sc.virsat.build.dvlmMissingDocumentValidator">
           </seiValidator>
        </dvlmValidator>
     </extension>
     <extension
           id="de.dlr.sc.virsat.problem.markers.validation"
           name="VirSat Validation Problem Marker"
           point="org.eclipse.core.resources.markers">
        <persistent
              value="true">
        </persistent>
        <super
              type="de.dlr.sc.virsat.problem.marker">
        </super>
     </extension>
     <extension
           id="de.dlr.sc.virsat.problem.markers.validation.dvlm"
           name="DVLM Validation Problem Marker"
           point="org.eclipse.core.resources.markers">
        <persistent
              value="true">
        </persistent>
        <super
              type="de.dlr.sc.virsat.problem.markers.validation">
        </super>
     </extension>
     <extension
           id="de.dlr.sc.virsat.problem.markers.validation.emf"
           name="EMF Validation Problem Marker"
           point="org.eclipse.core.resources.markers">
        <persistent
              value="true">
        </persistent>
        <super
              type="de.dlr.sc.virsat.problem.markers.validation">
        </super>
        <attribute
              name="eStructuralFeature">
        </attribute>
     </extension>
     <extension
           id="de.dlr.sc.virsat.problem.markers.validation.inheritance"
           name="Inheritance Validation Problem Marker"
           point="org.eclipse.core.resources.markers">
        <persistent
              value="true">
        </persistent>
        <super
              type="de.dlr.sc.virsat.problem.markers.validation.emf">
        </super>
        <attribute
              name="SuperIUuid">
        </attribute>
     </extension>
     <extension
           id="de.dlr.sc.virsat.problem.markers.inheritance"
           name="VirSat Inheritance Problem Marker"
           point="org.eclipse.core.resources.markers">
        <persistent
              value="true">
        </persistent>
        <super
              type="de.dlr.sc.virsat.problem.marker">
        </super>
     </extension>
     <extension
           point="de.dlr.sc.virsat.project.markerHelper">
        <markerHelper
              markerHelper="de.dlr.sc.virsat.build.marker.util.VirSatInheritanceMarkerHelper"
              markerType="de.dlr.sc.virsat.problem.markers.inheritance">
        </markerHelper>
     </extension>
     <extension
           point="de.dlr.sc.virsat.project.markerHelper">
        <markerHelper
              markerHelper="de.dlr.sc.virsat.build.marker.util.VirSatValidationMarkerHelper"
              markerType="de.dlr.sc.virsat.problem.markers.validation">
        </markerHelper>
     </extension>
     <extension
           point="de.dlr.sc.virsat.project.markerHelper">
        <markerHelper
              markerHelper="de.dlr.sc.virsat.build.marker.util.VirSatValidationMarkerHelper"
              markerType="de.dlr.sc.virsat.problem.markers.validation.dvlm">
        </markerHelper>
     </extension>
     <extension
           point="de.dlr.sc.virsat.project.markerHelper">
        <markerHelper
              markerHelper="de.dlr.sc.virsat.build.marker.util.VirSatValidationMarkerHelper"
              markerType="de.dlr.sc.virsat.problem.markers.validation.emf">
        </markerHelper>
     </extension>
     <extension
           point="de.dlr.sc.virsat.project.markerHelper">
        <markerHelper
              markerHelper="de.dlr.sc.virsat.build.marker.util.VirSatValidationMarkerHelper"
              markerType="de.dlr.sc.virsat.problem.markers.validation.inheritance">
        </markerHelper>
     </extension>
</plugin>
