<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
         point="org.eclipse.ui.commands">
		 <command
		       id="de.dlr.sc.virsat.requirements.tracing.ui.AddTraceNature"
		       name="Add Trace Nature">
		 </command>
		 <command
		       id="de.dlr.sc.virsat.requirements.tracing.ui.RemoveTraceNature"
		       name="Remove Trace Nature">
		 </command>
		 <command
		      id="TraceCommand"
		      name="Add Trace Link">
		</command>
  	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
      <command
            commandId="de.dlr.sc.virsat.requirements.tracing.ui.AddTraceNature"
            style="push">
         <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                    <iterate>
                    <not>
                     <test
                           forcePluginActivation="true"
                           property="de.dlr.sc.virsat.requirements.tracing.ui.isEnabled">
                     </test>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
      </command>
      <command
            commandId="de.dlr.sc.virsat.requirements.tracing.ui.RemoveTraceNature"
            style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                   <iterate>
                     <test
                           forcePluginActivation="true"
                           property="de.dlr.sc.virsat.requirements.tracing.ui.isEnabled">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
      </command>
      </menuContribution>
      <menuContribution
           allPopups="false"
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <command
            commandId="TraceCommand"
            label="Trace the requirement to an Artifact"
            style="push">
      	<visibleWhen
               checkEnabled="false">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.rmf.reqif10.SpecHierarchy">
                  </adapt>
               </iterate>
            </and>
         </visibleWhen>
      </command> 
   </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
    <handler
		class="de.dlr.sc.virsat.requirements.tracing.ui.handler.AddTraceLinkHandler"
		commandId="TraceCommand">
	</handler>
    <handler
       class="de.dlr.sc.virsat.requirements.tracing.ui.handler.AddTraceNatureHandler"
       commandId="de.dlr.sc.virsat.requirements.tracing.ui.AddTraceNature">
	 </handler>
	 <handler
	       class="de.dlr.sc.virsat.requirements.tracing.ui.handler.RemoveTraceNatureHandler"
	       commandId="de.dlr.sc.virsat.requirements.tracing.ui.RemoveTraceNature">
	 </handler>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="de.dlr.sc.virsat.requirements.tracing.ui.property.ProjectPropertyTraceNatureTester"
          id="de.dlr.sc.virsat.requirements.tracing.ui.property.ProjectPropertyTraceNatureTester"
          namespace="de.dlr.sc.virsat.requirements.tracing.ui"
          properties="isEnabled"
          type="java.lang.Object">
    </propertyTester>
  </extension>
</plugin>
