<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.budget.power.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.budget.power.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.budget.power.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.power"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.budget.power.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.power.APowerParameters"
		pathToImage="resources/icons/APowerParameters.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.power.PowerEquipment"
		pathToImage="resources/icons/PowerEquipment.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.power.PowerSummary"
		pathToImage="resources/icons/PowerSummary.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.power.PowerState"
		pathToImage="resources/icons/PowerState.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerEquipment"
		name="Add PowerEquipment">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerSummary"
		name="Add PowerSummary">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerState"
		name="Add PowerState">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerEquipment"
	      disabledIcon="resources/icons/PowerEquipment_disabled.gif"
	      icon="resources/icons/PowerEquipment.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerSummary"
	      disabledIcon="resources/icons/PowerSummary_disabled.gif"
	      icon="resources/icons/PowerSummary.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerState"
	      disabledIcon="resources/icons/PowerState_disabled.gif"
	      icon="resources/icons/PowerState.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.power.ui.handler.AddPowerEquipmentHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerEquipment">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.power.ui.handler.AddPowerSummaryHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerSummary">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.power.ui.handler.AddPowerStateHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerState">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.budget.power.menu" 
		        label="Power Budget"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.budget.power.gif"
		        tooltip="Power Budget Concept">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.budget.power.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.budget.power.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerEquipment"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.power.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerSummary"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.power.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.power.ui.command.AddPowerState"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.power.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.budget.power.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.table.uiSnippetPowerEquipment"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetTablePowerEquipment">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.section.uiSnippetPowerEquipment"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetSectionPowerEquipment">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.table.uiSnippetPowerEquipmentPowerValuesPowerState"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetTablePowerEquipmentPowerValuesPowerState">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.table.uiSnippetPowerSummary"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetTablePowerSummary">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.section.uiSnippetPowerSummary"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetSectionPowerSummary">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.table.uiSnippetPowerState"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetTablePowerState">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.power.section.uiSnippetPowerState"
		      section="de.dlr.sc.virsat.model.extension.budget.power.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.power.ui.snippet.UiSnippetSectionPowerState">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
