<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.statemachines.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.statemachines.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines.State"
		pathToImage="resources/icons/State.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines.Transition"
		pathToImage="resources/icons/Transition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines.AConstraint"
		pathToImage="resources/icons/AConstraint.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines.AllowsConstraint"
		pathToImage="resources/icons/AllowsConstraint.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines.ForbidsConstraint"
		pathToImage="resources/icons/ForbidsConstraint.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.statemachines.StateMachine"
		pathToImage="resources/icons/StateMachine.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddState"
		name="Add State">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddTransition"
		name="Add Transition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddAllowsConstraint"
		name="Add AllowsConstraint">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddForbidsConstraint"
		name="Add ForbidsConstraint">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddStateMachine"
		name="Add StateMachine">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddState"
	      disabledIcon="resources/icons/State_disabled.gif"
	      icon="resources/icons/State.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddTransition"
	      disabledIcon="resources/icons/Transition_disabled.gif"
	      icon="resources/icons/Transition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddAllowsConstraint"
	      disabledIcon="resources/icons/AllowsConstraint_disabled.gif"
	      icon="resources/icons/AllowsConstraint.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddForbidsConstraint"
	      disabledIcon="resources/icons/ForbidsConstraint_disabled.gif"
	      icon="resources/icons/ForbidsConstraint.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddStateMachine"
	      disabledIcon="resources/icons/StateMachine_disabled.gif"
	      icon="resources/icons/StateMachine.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.statemachines.ui.handler.AddStateHandler"
		commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddState">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.statemachines.ui.handler.AddTransitionHandler"
		commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddTransition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.statemachines.ui.handler.AddAllowsConstraintHandler"
		commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddAllowsConstraint">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.statemachines.ui.handler.AddForbidsConstraintHandler"
		commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddForbidsConstraint">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.statemachines.ui.handler.AddStateMachineHandler"
		commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddStateMachine">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.statemachines.menu" 
		        label="State Machines"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.statemachines.gif"
		        tooltip="Concept for modeling State Machines">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.statemachines.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddState"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddTransition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddAllowsConstraint"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddForbidsConstraint"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.AddStateMachine"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.statemachines.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetState"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableState">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.section.uiSnippetState"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetSectionState">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetTransition"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableTransition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.section.uiSnippetTransition"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetSectionTransition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetAllowsConstraint"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableAllowsConstraint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.section.uiSnippetAllowsConstraint"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetSectionAllowsConstraint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetForbidsConstraint"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableForbidsConstraint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.section.uiSnippetForbidsConstraint"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetSectionForbidsConstraint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetStateMachine"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableStateMachine">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.section.uiSnippetStateMachine"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetSectionStateMachine">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetStateMachineStatesState"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableStateMachineStatesState">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetStateMachineTransitionsTransition"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableStateMachineTransitionsTransition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetStateMachineConstraintsAllowsConstraint"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableStateMachineConstraintsAllowsConstraint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.statemachines.table.uiSnippetStateMachineConstraintsForbidsConstraint"
		      section="de.dlr.sc.virsat.model.extension.statemachines.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.statemachines.ui.snippet.UiSnippetTableStateMachineConstraintsForbidsConstraint">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.commandImages">
		 <image
         commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.ConstraintTableCommand"
         disabledIcon="resources/icons/ConstraintTable.gif"
         icon="resources/icons/ConstraintTable.gif">
		 </image>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		 <handler
		       class="de.dlr.sc.virsat.model.extension.statemachines.ui.handler.ConstraintTableHandler"
		       commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.ConstraintTableCommand">
		 </handler>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		 <command
		       id="de.dlr.sc.virsat.model.extension.statemachines.ui.command.ConstraintTableCommand"
		       name="Constraint Table">
		 </command>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
				locationURI="popup:de.dlr.sc.virsat.model.extension.statemachines.menu?after=categories">
		<command
				commandId="de.dlr.sc.virsat.model.extension.statemachines.ui.command.ConstraintTableCommand"
				style="push">
				<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.statemachines.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
							<instanceof
								value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
							</instanceof>
						</iterate>
					</with>
				</visibleWhen>
			</command>
  <separator
        name="de.dlr.sc.virsat.model.extension.ps.ui.separator1"
        visible="true">
  </separator>
		</menuContribution>
	</extension>
	
	
	
	
	<extension
		point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType
			id="de.dlr.sc.virsat.model.extension.statemachines.ui.diagramType"
			name="StateMachine Diagram"
			type="stateMachines">
		</diagramType>
	</extension>
	<extension
		point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="de.dlr.sc.virsat.model.extension.statemachines.ui.diagram.StateMachineDiagramTypeProvider"
			context="org.eclipse.graphiti.ui.diagramEditor"
			id="de.dlr.sc.virsat.model.extension.statemachines.ui.diagramTypeProvider"
			name="StateMachine Editor">
			<diagramType
				id="de.dlr.sc.virsat.model.extension.statemachines.ui.diagramType">
			</diagramType>
		   <imageProvider
		         id="de.dlr.sc.virsat.model.extension.statemachines.ui.diagram.stateMachineDiagramImageProvider">
		   </imageProvider>
		</diagramTypeProvider>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
        class="de.dlr.sc.virsat.model.extension.statemachines.ui.diagram.editor.StateMachineDiagramEditor"
        contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
        default="false"
        extensions="dvlmsm"
        icon="resources/icons/StateMachine.gif"
        id="de.dlr.sc.virsat.model.extension.statemachines.ui.diagramTypeProvider.editor"
        matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
        name="StateMachine Editor">
		</editor>
	</extension>
	 <extension
	       point="org.eclipse.graphiti.ui.imageProviders">
	    <imageProvider
	          class="de.dlr.sc.virsat.model.extension.statemachines.ui.diagram.StateMachineDiagramImageProvider"
	          id="de.dlr.sc.virsat.model.extension.statemachines.ui.diagram.stateMachineDiagramImageProvider">
	    </imageProvider>
	 </extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
