<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.ext.core.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.ext.core.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.ext.core.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.core"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.ext.core.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.core.GenericCategory"
		pathToImage="resources/icons/GenericCategory.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.ext.core.ui.command.AddGenericCategory"
		name="Add GenericCategory">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.ext.core.ui.command.AddGenericCategory"
	      disabledIcon="resources/icons/GenericCategory_disabled.gif"
	      icon="resources/icons/GenericCategory.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.ext.core.ui.handler.AddGenericCategoryHandler"
		commandId="de.dlr.sc.virsat.model.ext.core.ui.command.AddGenericCategory">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.ext.core.menu" 
		        label="Core"
		        icon="resources/icons/de.dlr.sc.virsat.model.ext.core.gif"
		        tooltip="Concept for core language elements">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.ext.core.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.core.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.ext.core.ui.command.AddGenericCategory"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.core.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.core.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.ext.core.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.core.table.uiSnippetGenericCategory"
		      section="de.dlr.sc.virsat.model.ext.core.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.core.ui.snippet.UiSnippetTableGenericCategory">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.core.section.uiSnippetGenericCategory"
		      section="de.dlr.sc.virsat.model.ext.core.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.core.ui.snippet.UiSnippetSectionGenericCategory">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
