<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="de.dlr.sc.virsat.branding.ui.intro.IntroPart"
            icon="resources/images/Branding/VirSat16.gif"
            id="de.dlr.sc.virsat.branding.ui.intro">
      </intro>
      <introProductBinding
            introId="de.dlr.sc.virsat.branding.ui.intro"
            productId="de.dlr.sc.virsat.branding.ui.VirSat_Core">
      </introProductBinding>
   </extension>
  
   <extension
         id="VirSat_Core"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="VirSat 4 - Core">
         <property
               name="windowImages"
               value="resources/images/Branding/VirSat16.gif,resources/images/Branding/VirSat32.gif,resources/images/Branding/VirSat48.gif,resources/images/Branding/VirSat64.gif,resources/images/Branding/VirSat128.gif">
         </property>
         <property
               name="aboutText"
               value="Virtual Satellite 4 - DVLM Core&#x0D;&#x0A;&#x0D;&#x0A;Version 4.12.1&#x0D;&#x0A;&#x0D;&#x0A;© Copyright by DLR (Deutsches Zentrum fuer Luft- und Raumfahrt e. V., German Aerospace Center) 2020. &#x0D;&#x0A;&#x0D;&#x0A;The DLR trade mark (as  the word mark DLR or as combination DLR with the DLR Logo)  is a registered and protected trade mark and may not be used without DLR´s prior written permission. &#x0D;&#x0A;&#x0D;&#x0A;Copyrighted content other than the S/W provided under the indicated Eclipse License Conditions such as images, photographs, videos and texts which are indicated as being under DLR´s copyright through copyright notice (i. g. © DLR 2020)  are provided for use under the Terms of use as provided for on DLRs webpage www.dlr.de”&#x0D;&#x0A;&#x0D;&#x0A;&#x0D;&#x0A;German Aerospace Center (DLR) e.V.&#x0D;&#x0A;Lilienthalplatz 7&#x0D;&#x0A;38108 Braunschweig&#x0D;&#x0A;Germany">
         </property>
         <property
               name="aboutImage"
               value="resources/images/Branding/Configuration.gif">
         </property>
         <property
               name="appName"
               value="VirSat 4 - Core">
         </property>
         <property
               name="startupProgressRect"
               value="5,280,230,15">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupMessageRect"
               value="5,260,230,20">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/theme-super-user.css"
            id="de.dlr.sc.virsat.branding.ui.themesuperuser"
            label="SuperUserTheme">
      </theme>
   </extension>
</plugin>
