<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.budget.cost.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.budget.cost.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost.CostType"
		pathToImage="resources/icons/CostType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost.MaterialCost"
		pathToImage="resources/icons/MaterialCost.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost.ACostParameters"
		pathToImage="resources/icons/ACostParameters.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost.CostEquipment"
		pathToImage="resources/icons/CostEquipment.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost.CostSummary"
		pathToImage="resources/icons/CostSummary.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.budget.cost.CostTypesCollection"
		pathToImage="resources/icons/CostTypesCollection.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostType"
		name="Add CostType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddMaterialCost"
		name="Add MaterialCost">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostEquipment"
		name="Add CostEquipment">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostSummary"
		name="Add CostSummary">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostTypesCollection"
		name="Add CostTypesCollection">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostType"
	      disabledIcon="resources/icons/CostType_disabled.gif"
	      icon="resources/icons/CostType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddMaterialCost"
	      disabledIcon="resources/icons/MaterialCost_disabled.gif"
	      icon="resources/icons/MaterialCost.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostEquipment"
	      disabledIcon="resources/icons/CostEquipment_disabled.gif"
	      icon="resources/icons/CostEquipment.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostSummary"
	      disabledIcon="resources/icons/CostSummary_disabled.gif"
	      icon="resources/icons/CostSummary.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostTypesCollection"
	      disabledIcon="resources/icons/CostTypesCollection_disabled.gif"
	      icon="resources/icons/CostTypesCollection.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.cost.ui.handler.AddCostTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.cost.ui.handler.AddMaterialCostHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddMaterialCost">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.cost.ui.handler.AddCostEquipmentHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostEquipment">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.cost.ui.handler.AddCostSummaryHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostSummary">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.budget.cost.ui.handler.AddStructuralElementInstanceCostTypesCollectionHandler"
		commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostTypesCollection">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.budget.cost.menu" 
		        label="Cost Budget"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.budget.cost.gif"
		        tooltip="Cost Budget Concept">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.budget.cost.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddMaterialCost"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostEquipment"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostSummary"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.budget.cost.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.budget.cost.ui.command.AddCostTypesCollection"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.budget.cost.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.table.uiSnippetCostType"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetTableCostType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.section.uiSnippetCostType"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetSectionCostType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.table.uiSnippetMaterialCost"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetTableMaterialCost">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.section.uiSnippetMaterialCost"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetSectionMaterialCost">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.table.uiSnippetCostEquipment"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetTableCostEquipment">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.section.uiSnippetCostEquipment"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetSectionCostEquipment">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.table.uiSnippetCostSummary"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetTableCostSummary">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.budget.cost.section.uiSnippetCostSummary"
		      section="de.dlr.sc.virsat.model.extension.budget.cost.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.budget.cost.ui.snippet.UiSnippetSectionCostSummary">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
	<!-- Plugin.XML Protected Region End -->
</plugin>
