<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.requirements.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.requirements.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementsSpecification"
		pathToImage="resources/icons/RequirementsSpecification.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementsConfiguration"
		pathToImage="resources/icons/RequirementsConfiguration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.VerificationConfiguration"
		pathToImage="resources/icons/VerificationConfiguration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementObject"
		pathToImage="resources/icons/RequirementObject.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementGroup"
		pathToImage="resources/icons/RequirementGroup.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.Requirement"
		pathToImage="resources/icons/Requirement.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementLink"
		pathToImage="resources/icons/RequirementLink.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.AttributeValue"
		pathToImage="resources/icons/AttributeValue.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementType"
		pathToImage="resources/icons/RequirementType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementAttribute"
		pathToImage="resources/icons/RequirementAttribute.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.EnumerationDefinition"
		pathToImage="resources/icons/EnumerationDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.EnumerationLiteral"
		pathToImage="resources/icons/EnumerationLiteral.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.IVerification"
		pathToImage="resources/icons/IVerification.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.DefaultVerification"
		pathToImage="resources/icons/DefaultVerification.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.VerificationType"
		pathToImage="resources/icons/VerificationType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.ModelVerification"
		pathToImage="resources/icons/ModelVerification.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.ExistenceVerification"
		pathToImage="resources/icons/ExistenceVerification.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.requirements.RequirementsConfigurationCollection"
		pathToImage="resources/icons/RequirementsConfigurationCollection.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsSpecification"
		name="Add RequirementsSpecification">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfiguration"
		name="Add RequirementsConfiguration">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationConfiguration"
		name="Add VerificationConfiguration">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementGroup"
		name="Add RequirementGroup">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirement"
		name="Add Requirement">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementLink"
		name="Add RequirementLink">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddAttributeValue"
		name="Add AttributeValue">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementType"
		name="Add RequirementType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementAttribute"
		name="Add RequirementAttribute">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationDefinition"
		name="Add EnumerationDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationLiteral"
		name="Add EnumerationLiteral">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddDefaultVerification"
		name="Add DefaultVerification">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationType"
		name="Add VerificationType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddExistenceVerification"
		name="Add ExistenceVerification">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfigurationCollection"
		name="Add RequirementsConfigurationCollection">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsSpecification"
	      disabledIcon="resources/icons/RequirementsSpecification_disabled.gif"
	      icon="resources/icons/RequirementsSpecification.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfiguration"
	      disabledIcon="resources/icons/RequirementsConfiguration_disabled.gif"
	      icon="resources/icons/RequirementsConfiguration.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationConfiguration"
	      disabledIcon="resources/icons/VerificationConfiguration_disabled.gif"
	      icon="resources/icons/VerificationConfiguration.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementGroup"
	      disabledIcon="resources/icons/RequirementGroup_disabled.gif"
	      icon="resources/icons/RequirementGroup.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirement"
	      disabledIcon="resources/icons/Requirement_disabled.gif"
	      icon="resources/icons/Requirement.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementLink"
	      disabledIcon="resources/icons/RequirementLink_disabled.gif"
	      icon="resources/icons/RequirementLink.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddAttributeValue"
	      disabledIcon="resources/icons/AttributeValue_disabled.gif"
	      icon="resources/icons/AttributeValue.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementType"
	      disabledIcon="resources/icons/RequirementType_disabled.gif"
	      icon="resources/icons/RequirementType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementAttribute"
	      disabledIcon="resources/icons/RequirementAttribute_disabled.gif"
	      icon="resources/icons/RequirementAttribute.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationDefinition"
	      disabledIcon="resources/icons/EnumerationDefinition_disabled.gif"
	      icon="resources/icons/EnumerationDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationLiteral"
	      disabledIcon="resources/icons/EnumerationLiteral_disabled.gif"
	      icon="resources/icons/EnumerationLiteral.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddDefaultVerification"
	      disabledIcon="resources/icons/DefaultVerification_disabled.gif"
	      icon="resources/icons/DefaultVerification.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationType"
	      disabledIcon="resources/icons/VerificationType_disabled.gif"
	      icon="resources/icons/VerificationType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddExistenceVerification"
	      disabledIcon="resources/icons/ExistenceVerification_disabled.gif"
	      icon="resources/icons/ExistenceVerification.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfigurationCollection"
	      disabledIcon="resources/icons/RequirementsConfigurationCollection_disabled.gif"
	      icon="resources/icons/RequirementsConfigurationCollection.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementsSpecificationHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsSpecification">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementsConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfiguration">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddVerificationConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationConfiguration">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementGroupHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementGroup">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirement">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementLinkHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementLink">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddAttributeValueHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddAttributeValue">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddRequirementAttributeHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementAttribute">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddEnumerationDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddEnumerationLiteralHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationLiteral">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddDefaultVerificationHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddDefaultVerification">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddVerificationTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddExistenceVerificationHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddExistenceVerification">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.requirements.ui.handler.AddStructuralElementInstanceRequirementsConfigurationCollectionHandler"
		commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfigurationCollection">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.requirements.menu" 
		        label="Requirements"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.requirements.gif"
		        tooltip="Extension for Requirement Specification">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.requirements.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsSpecification"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementGroup"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirement"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementLink"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddAttributeValue"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementAttribute"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddEnumerationLiteral"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddDefaultVerification"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddVerificationType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddExistenceVerification"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.requirements.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.requirements.ui.command.AddRequirementsConfigurationCollection"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.requirements.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementsSpecification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementsSpecification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirementsSpecification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirementsSpecification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementsSpecificationRequirementsRequirementGroup"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementsSpecificationRequirementsRequirementGroup">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementsSpecificationRequirementsRequirement"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementsSpecificationRequirementsRequirement">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementsSpecificationLinksRequirementLink"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementsSpecificationLinksRequirementLink">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementsConfiguration"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementsConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirementsConfiguration"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirementsConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementsConfigurationTypeDefinitionsRequirementType"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementsConfigurationTypeDefinitionsRequirementType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetVerificationConfiguration"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableVerificationConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetVerificationConfiguration"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionVerificationConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetVerificationConfigurationVerificationTypesVerificationType"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableVerificationConfigurationVerificationTypesVerificationType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementGroup"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementGroup">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirementGroup"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirementGroup">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementGroupChildrenRequirementGroup"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementGroupChildrenRequirementGroup">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementGroupChildrenRequirement"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementGroupChildrenRequirement">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirement"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirement">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirement"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirement">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementElementsAttributeValue"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementElementsAttributeValue">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementVerificationDefaultVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementVerificationDefaultVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementVerificationExistenceVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementVerificationExistenceVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementLink"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementLink">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirementLink"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirementLink">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementLinkTargets"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementLinkTargets">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetAttributeValue"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableAttributeValue">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetAttributeValue"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionAttributeValue">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementType"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirementType"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirementType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementTypeAttributesRequirementAttribute"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementTypeAttributesRequirementAttribute">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementAttribute"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementAttribute">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetRequirementAttribute"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionRequirementAttribute">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetEnumerationDefinition"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableEnumerationDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetEnumerationDefinition"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionEnumerationDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetEnumerationDefinitionLiteralsEnumerationLiteral"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableEnumerationDefinitionLiteralsEnumerationLiteral">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetEnumerationLiteral"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableEnumerationLiteral">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetEnumerationLiteral"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionEnumerationLiteral">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetDefaultVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableDefaultVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetDefaultVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionDefaultVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetVerificationType"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableVerificationType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetVerificationType"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionVerificationType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetExistenceVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableExistenceVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.section.uiSnippetExistenceVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetSectionExistenceVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetExistenceVerificationTarget"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableExistenceVerificationTarget">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.requirements.ui.Section.Verifications"
	          topRanking="2000">
	    </editorSection>
	 </extension>
	 <extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
	 <uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementVerificationDefaultVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section.Verifications"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementVerificationDefaultVerification">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.requirements.table.uiSnippetRequirementVerificationExistenceVerification"
		      section="de.dlr.sc.virsat.model.extension.requirements.ui.Section.Verifications"
		      snippet="de.dlr.sc.virsat.model.extension.requirements.ui.snippet.UiSnippetTableRequirementVerificationExistenceVerification">
		</uiSnippet>
		</extension>
<extension
         point="org.eclipse.ui.commands">
		 <command
		       id="de.dlr.sc.virsat.model.extension.requirements.ui.AddReqIFNature"
		       name="Add ReqIF Nature">
		 </command>
		 <command
		       id="de.dlr.sc.virsat.model.extension.requirements.ui.RemoveReqIFNature"
		       name="Remove ReqIF Nature">
		 </command>
  	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
      <command
            commandId="de.dlr.sc.virsat.model.extension.requirements.ui.AddReqIFNature"
            style="push">
         <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                    <iterate>
                    <not>
                     <test
                           forcePluginActivation="true"
                           property="de.dlr.sc.virsat.model.extension.requirements.ui.isEnabled">
                     </test>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
      </command>
      <command
            commandId="de.dlr.sc.virsat.model.extension.requirements.ui.RemoveReqIFNature"
            style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                   <iterate>
                     <test
                           forcePluginActivation="true"
                           property="de.dlr.sc.virsat.model.extension.requirements.ui.isEnabled">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
      </command>
      </menuContribution>
   </extension>
   <extension
	  point="org.eclipse.ui.importWizards">
	   <wizard
	     category="de.dlr.virsat.global.category.import.virsat"
	     class="de.dlr.sc.virsat.model.extension.requirements.ui.wizard.CsvImportWizard"
	     id="de.dlr.sc.virsat.model.extension.requirements.ui.wizard.csvImport"
	     icon="resources/icons/RequirementsSpecification.gif"
	     name="Requirements CSV Import Wizard">
	   </wizard>
	  <category
            id="de.dlr.virsat.global.category.import.virsat"
            name="Virtual Satellite">
      </category>
	</extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
