<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=de.dlr.sc.virsat.external.lib.commons.cli/src"/>
<listEntry value="=de.dlr.sc.virsat.model.calculation/src"/>
<listEntry value="=de.dlr.sc.virsat.model.edit/src"/>
<listEntry value="=de.dlr.sc.virsat.external.lib.commons.math/src"/>
<listEntry value="=de.dlr.sc.virsat.model.extension.egscc.ps/src"/>
<listEntry value="=de.dlr.sc.virsat.model.extension.cef/concept"/>
<listEntry value="=de.dlr.sc.virsat.project/src"/>
<listEntry value="=de.dlr.sc.virsat.model.concept/src"/>
<listEntry value="=de.dlr.sc.virsat.svn/src"/>
<listEntry value="=de.dlr.sc.virsat.model.extension.cef/src"/>
<listEntry value="=de.dlr.sc.virsat.model/src"/>
</listAttribute>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.dlr.sc.virsat.test/src/de/dlr/sc/virsat/test/ProjectAllTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="flushActualGeneratorFiles" value="false"/>
<mapEntry key="flushActualPath" value="c:/temp/tCases"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.dlr.sc.virsat.test.ProjectAllTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.dlr.sc.virsat.test"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.equinox.p2.director.app.product"/>
<booleanAttribute key="run_in_ui_thread" value="false"/>
<setAttribute key="selected_features">
<setEntry value="de.dlr.sc.virsat.apps.feature:default"/>
<setEntry value="de.dlr.sc.virsat.branding.feature:default"/>
<setEntry value="de.dlr.sc.virsat.build.feature:default"/>
<setEntry value="de.dlr.sc.virsat.commons.feature:default"/>
<setEntry value="de.dlr.sc.virsat.dependencies.feature:default"/>
<setEntry value="de.dlr.sc.virsat.docs.feature:default"/>
<setEntry value="de.dlr.sc.virsat.excel.feature:default"/>
<setEntry value="de.dlr.sc.virsat.external.lib.feature:default"/>
<setEntry value="de.dlr.sc.virsat.graphiti.feature:default"/>
<setEntry value="de.dlr.sc.virsat.javadoc.api.feature:default"/>
<setEntry value="de.dlr.sc.virsat.license.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.calculation.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.concept.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.ext.core.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.budget.mass.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.budget.power.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.funcelectrical.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.maturity.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.mechanical.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.ps.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.requirements.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.statemachines.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.tests.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.extension.visualisation.feature:default"/>
<setEntry value="de.dlr.sc.virsat.model.feature:default"/>
<setEntry value="de.dlr.sc.virsat.project.feature:default"/>
<setEntry value="de.dlr.sc.virsat.server.feature:default"/>
<setEntry value="de.dlr.sc.virsat.target.feature:default"/>
<setEntry value="de.dlr.sc.virsat.team.feature:default"/>
<setEntry value="de.dlr.sc.virsat.test.feature:default"/>
<setEntry value="de.dlr.sc.virsat.uiengine.feature:default"/>
<setEntry value="org.eclipse.e4.rcp:default"/>
<setEntry value="org.eclipse.ecf.core.feature:default"/>
<setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient45.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
<setEntry value="org.eclipse.egit:default"/>
<setEntry value="org.eclipse.emf.common.ui:default"/>
<setEntry value="org.eclipse.emf.common:default"/>
<setEntry value="org.eclipse.emf.compare:default"/>
<setEntry value="org.eclipse.emf.databinding.edit:default"/>
<setEntry value="org.eclipse.emf.databinding:default"/>
<setEntry value="org.eclipse.emf.ecore:default"/>
<setEntry value="org.eclipse.emf.edapt.runtime.feature:default"/>
<setEntry value="org.eclipse.emf.edit.ui:default"/>
<setEntry value="org.eclipse.emf.edit:default"/>
<setEntry value="org.eclipse.emf.transaction:default"/>
<setEntry value="org.eclipse.emf.validation:default"/>
<setEntry value="org.eclipse.emf.workspace:default"/>
<setEntry value="org.eclipse.equinox.executable:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
<setEntry value="org.eclipse.graphiti.feature:default"/>
<setEntry value="org.eclipse.help:default"/>
<setEntry value="org.eclipse.jdt:default"/>
<setEntry value="org.eclipse.jgit.ssh.apache:default"/>
<setEntry value="org.eclipse.jgit:default"/>
<setEntry value="org.eclipse.ocl:default"/>
<setEntry value="org.eclipse.pde:default"/>
<setEntry value="org.eclipse.platform:default"/>
<setEntry value="org.eclipse.rcp:default"/>
<setEntry value="org.eclipse.team.svn:default"/>
<setEntry value="org.eclipse.xtext.runtime:default"/>
<setEntry value="org.eclipse.xtext.ui:default"/>
<setEntry value="org.eclipse.xtext.xbase.lib:default"/>
<setEntry value="org.eclipse.xtext.xbase:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
