<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	
	<interactiveMode>false</interactiveMode>


	<mirrors>
        <!--This sends central, apache-snapshots, codehaus-snapshots to /public -->
		<mirror>
			<id>public</id>
			<mirrorOf>central, apache-snapshots, codehaus-snapshots</mirrorOf>
			<url>https://repo.sc.dlr.de/nexus/content/repositories/mirrorof-central/</url>
		</mirror>
	</mirrors>
</settings>
