<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="virsat" sequenceNumber="63">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.6.1.M20160907-1200"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.6.1.v20160907-1200"/>
<unit id="org.eclipse.test.feature.group" version="3.7.100.v20160503-1715"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.12.1.v20160907-1200"/>
<unit id="org.eclipse.jdt.feature.group" version="3.12.1.v20160907-1200"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20160829-1338"/>
<unit id="org.eclipse.jdt.source.feature.group" version="3.12.1.v20160907-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.team.svn.source.feature.group" version="4.0.2.I20160902-1700"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.10.0.201606071900"/>
<unit id="org.eclipse.team.svn.feature.group" version="4.0.2.I20160902-1700"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.runtime" version="4.3.0.v201502022030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.polarion.eclipse.team.svn.connector.svnkit18.feature.group" version="6.0.4.I20161211-1700"/>
<repository location="http://community.polarion.com/projects/subversive/download/eclipse/6.0/neon-site/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
