<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<?pde version="3.8"?><target name="virsat_linux" sequenceNumber="1">
		<locations>
		</locations>
		<environment>
		<os>linux</os>
		<ws>gtk</ws>
		<arch></arch>
		<nl></nl> 
		</environment>
		<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/"/>
		</target>
