<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.funcelectrical.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.funcelectrical.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.InterfaceType"
		pathToImage="resources/icons/InterfaceType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.PowerInterfaceType"
		pathToImage="resources/icons/PowerInterfaceType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.VoltageDefinition"
		pathToImage="resources/icons/VoltageDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.FixedVoltageDefinition"
		pathToImage="resources/icons/FixedVoltageDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.RangedVoltageDefinition"
		pathToImage="resources/icons/RangedVoltageDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.DataInterfaceType"
		pathToImage="resources/icons/DataInterfaceType.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.ThermalReferencePoint"
		pathToImage="resources/icons/ThermalReferencePoint.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.InterfaceEnd"
		pathToImage="resources/icons/InterfaceEnd.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.Interface"
		pathToImage="resources/icons/Interface.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.funcelectrical.InterfaceTypeCollection"
		pathToImage="resources/icons/InterfaceTypeCollection.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceType"
		name="Add InterfaceType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddPowerInterfaceType"
		name="Add PowerInterfaceType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddFixedVoltageDefinition"
		name="Add FixedVoltageDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddRangedVoltageDefinition"
		name="Add RangedVoltageDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddDataInterfaceType"
		name="Add DataInterfaceType">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddThermalReferencePoint"
		name="Add ThermalReferencePoint">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceEnd"
		name="Add InterfaceEnd">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterface"
		name="Add Interface">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceTypeCollection"
		name="Add InterfaceTypeCollection">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceType"
	      disabledIcon="resources/icons/InterfaceType_disabled.gif"
	      icon="resources/icons/InterfaceType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddPowerInterfaceType"
	      disabledIcon="resources/icons/PowerInterfaceType_disabled.gif"
	      icon="resources/icons/PowerInterfaceType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddFixedVoltageDefinition"
	      disabledIcon="resources/icons/FixedVoltageDefinition_disabled.gif"
	      icon="resources/icons/FixedVoltageDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddRangedVoltageDefinition"
	      disabledIcon="resources/icons/RangedVoltageDefinition_disabled.gif"
	      icon="resources/icons/RangedVoltageDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddDataInterfaceType"
	      disabledIcon="resources/icons/DataInterfaceType_disabled.gif"
	      icon="resources/icons/DataInterfaceType.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddThermalReferencePoint"
	      disabledIcon="resources/icons/ThermalReferencePoint_disabled.gif"
	      icon="resources/icons/ThermalReferencePoint.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceEnd"
	      disabledIcon="resources/icons/InterfaceEnd_disabled.gif"
	      icon="resources/icons/InterfaceEnd.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterface"
	      disabledIcon="resources/icons/Interface_disabled.gif"
	      icon="resources/icons/Interface.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceTypeCollection"
	      disabledIcon="resources/icons/InterfaceTypeCollection_disabled.gif"
	      icon="resources/icons/InterfaceTypeCollection.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddInterfaceTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddPowerInterfaceTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddPowerInterfaceType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddFixedVoltageDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddFixedVoltageDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddRangedVoltageDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddRangedVoltageDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddDataInterfaceTypeHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddDataInterfaceType">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddThermalReferencePointHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddThermalReferencePoint">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddInterfaceEndHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceEnd">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddInterfaceHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterface">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.handler.AddStructuralElementInstanceInterfaceTypeCollectionHandler"
		commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceTypeCollection">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.funcelectrical.menu" 
		        label="Functional Electrical Architecture"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.funcelectrical.gif"
		        tooltip="Concept for modeling Functional Electrical Architecture (FEA)">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.funcelectrical.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddPowerInterfaceType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddFixedVoltageDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddRangedVoltageDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddDataInterfaceType"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddThermalReferencePoint"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceEnd"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterface"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.funcelectrical.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.funcelectrical.ui.command.AddInterfaceTypeCollection"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.funcelectrical.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetInterfaceType"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableInterfaceType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetInterfaceType"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionInterfaceType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetPowerInterfaceType"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTablePowerInterfaceType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetPowerInterfaceType"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionPowerInterfaceType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetPowerInterfaceTypeVoltagesFixedVoltageDefinition"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTablePowerInterfaceTypeVoltagesFixedVoltageDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetPowerInterfaceTypeVoltagesRangedVoltageDefinition"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTablePowerInterfaceTypeVoltagesRangedVoltageDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetFixedVoltageDefinition"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableFixedVoltageDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetFixedVoltageDefinition"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionFixedVoltageDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetRangedVoltageDefinition"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableRangedVoltageDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetRangedVoltageDefinition"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionRangedVoltageDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetDataInterfaceType"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableDataInterfaceType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetDataInterfaceType"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionDataInterfaceType">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetThermalReferencePoint"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableThermalReferencePoint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetThermalReferencePoint"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionThermalReferencePoint">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.table.uiSnippetInterface"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetTableInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.funcelectrical.section.uiSnippetInterface"
		      section="de.dlr.sc.virsat.model.extension.funcelectrical.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.funcelectrical.ui.snippet.UiSnippetSectionInterface">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.exportWizards">
		<wizard
        category="de.dlr.virsat.global.category.export.virsat"
        class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.wizards.HTMLExportWizard"
        icon="resources/icons/VirSat_General_HTML_Export.gif"
        id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.exportWizard"
        name="Functional Electrical Architecture to HTML Export Wizard">
		</wizard>
      <category
            id="de.dlr.virsat.global.category.export.virsat"
            name="Virtual Satellite">
      </category>
	</extension>
	<extension
		point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType
			id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagramType"
			name="Interfaces Diagram"
			type="interfaces">
		</diagramType>
	</extension>
	<extension
		point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagram.InterfaceDiagramTypeProvider"
			context="org.eclipse.graphiti.ui.diagramEditor"
			id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagramTypeProvider"
			name="Interface Editor">
			<diagramType
				id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagramType">
			</diagramType>
		   <imageProvider
		         id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagram.interfaceDiagramImageProvider">
		   </imageProvider>
		</diagramTypeProvider>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
        class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagram.editor.InterfaceDiagramEditor"
        contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
        default="false"
        extensions="dvlmif"
        icon="resources/icons/Dvlmif.gif"
        id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagramTypeProvider.editor"
        matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
        name="Interface Editor">
		</editor>
	</extension>
 <extension
       point="org.eclipse.graphiti.ui.imageProviders">
    <imageProvider
          class="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagram.InterfaceDiagramImageProvider"
          id="de.dlr.sc.virsat.model.extension.funcelectrical.ui.diagram.interfaceDiagramImageProvider">
    </imageProvider>
 </extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
