<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.visualisation.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.visualisation"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.visualisation.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.visualisation.Visualisation"
		pathToImage="resources/icons/Visualisation.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.visualisation.ui.command.AddVisualisation"
		name="Add Visualisation">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.visualisation.ui.command.AddVisualisation"
	      disabledIcon="resources/icons/Visualisation_disabled.gif"
	      icon="resources/icons/Visualisation.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.visualisation.ui.handler.AddVisualisationHandler"
		commandId="de.dlr.sc.virsat.model.extension.visualisation.ui.command.AddVisualisation">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.visualisation.menu" 
		        label="Visualization"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.visualisation.gif"
		        tooltip="Concept that defines visualisation properties">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.visualisation.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.visualisation.ui.command.AddVisualisation"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.visualisation.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.visualisation.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.visualisation.table.uiSnippetVisualisation"
		      section="de.dlr.sc.virsat.model.extension.visualisation.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.visualisation.ui.snippet.UiSnippetTableVisualisation">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.visualisation.section.uiSnippetVisualisation"
		      section="de.dlr.sc.virsat.model.extension.visualisation.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.visualisation.ui.snippet.UiSnippetSectionVisualisation">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabledTester"
	    type="de.dlr.sc.virsat.project.resources.VirSatProjectResource"
	    namespace="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.visualisation.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
<extension point="org.eclipse.ui.commands">
		<command
             description="Creates a standard folder in the Repository to store Delta Models"
             id="de.dlr.sc.virsat.visualisation.ui.createDeltaModelFolder"
             name="Create Delta Model Folder">
       </command>
       <command
             description="Create a Delta Model for with parameter heat map"
             id="de.dlr.sc.virsat.visualisation.ui.compareModelProperty"
             name="Compare Model - Property">
       </command>
       <command
             description="Create a Delta Model for with geometries."
             id="de.dlr.sc.virsat.visualisation.ui.compareModelGeometry"
             name="Compare Model - Geometry">
       </command>
       <command
             description="Create a colorMap Model for with parameter heat map"
             id="de.dlr.sc.virsat.visualisation.ui.colorMapParameter"
             name="ColorMap - Parameter">
       </command>
       <command
             description="Create colorMap Model for with animation"
             id="de.dlr.sc.virsat.visualisation.ui.animation"
             name="Animation">
       </command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
             commandId="de.dlr.sc.virsat.visualisation.ui.createDeltaModelFolder"
             icon="resources/icons/fldr_obj.png">
       </image>
       <image
             commandId="de.dlr.sc.virsat.visualisation.ui.compareModelProperty"
             icon="resources/icons/compare_view.gif">
       </image>
       <image
             commandId="de.dlr.sc.virsat.visualisation.ui.compareModelGeometry"
             icon="resources/icons/compare_view.gif">
       </image>
       <image
             commandId="de.dlr.sc.virsat.visualisation.ui.colorMapParameter"
             icon="resources/icons/colormap_view.gif">
       </image>
       <image
             commandId="de.dlr.sc.virsat.visualisation.ui.animation"
             icon="resources/icons/animation_view.gif">
       </image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
             class="de.dlr.sc.virsat.model.extension.visualisation.ui.handler.CreateDeltaModelFolderHandler"
             commandId="de.dlr.sc.virsat.visualisation.ui.createDeltaModelFolder">
          <enabledWhen>
             <with
                   variable="selection">
                <and>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <and>
                         <instanceof
                               value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
                         </instanceof>
                      </and>
                   </iterate>
                   <count
                         value="1">
                   </count>
                </and>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="de.dlr.sc.virsat.model.extension.visualisation.ui.handler.CompareModelPropertyHandler"
             commandId="de.dlr.sc.virsat.visualisation.ui.compareModelProperty">
             <enabledWhen>
             <with
                   variable="selection">
                <and>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <and>
                         <instanceof
                               value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
                         </instanceof>
                      </and>
                   </iterate>
                   <count
                         value="1">
                   </count>
                </and>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="de.dlr.sc.virsat.model.extension.visualisation.ui.handler.CompareModelGeometryrHandler"
             commandId="de.dlr.sc.virsat.visualisation.ui.compareModelGeometry">
             <enabledWhen>
             <with
                   variable="selection">
                <and>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <and>
                         <instanceof
                               value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
                         </instanceof>
                      </and>
                   </iterate>
                   <count
                         value="1">
                   </count>
                </and>
             </with>
          </enabledWhen>
       </handler>
        <handler
             class="de.dlr.sc.virsat.model.extension.visualisation.ui.handler.ColorMapPropertyHandler"
             commandId="de.dlr.sc.virsat.visualisation.ui.colorMapParameter">
             <enabledWhen>
             <with
                   variable="selection">
                <and>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <and>
                         <instanceof
                               value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
                         </instanceof>
                      </and>
                   </iterate>
                   <count
                         value="1">
                   </count>
                </and>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="de.dlr.sc.virsat.model.extension.visualisation.ui.handler.AnimationHandler"
             commandId="de.dlr.sc.virsat.visualisation.ui.animation">
             <enabledWhen>
             <with
                   variable="selection">
                <and>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <and>
                         <instanceof
                               value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
                         </instanceof>
                      </and>
                   </iterate>
                   <count
                         value="1">
                   </count>
                </and>
             </with>
          </enabledWhen>
       </handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
     <menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=additions">
     <separator
           name="de.dlr.sc.virsat.visualisation.ui.comparison"
           visible="true">
     </separator>
		<command
			commandId="de.dlr.sc.virsat.visualisation.ui.createDeltaModelFolder"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
				     <and>
				        <iterate
				              ifEmpty="false"
				              operator="and">
				           <instanceof
				                 value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
				           </instanceof>
							<test 
								property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>	
				        </iterate>
				        <count
				              value="1">
				        </count>
				     </and>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.visualisation.ui.compareModelProperty"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
				     <and>
				        <iterate
				              ifEmpty="false"
				              operator="and">
				           <instanceof
				                 value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
				           </instanceof>
							<test 
								property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>	
				        </iterate>
				        <count
				              value="1">
				        </count>
				     </and>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.visualisation.ui.compareModelGeometry"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
				     <and>
				        <iterate
				              ifEmpty="false"
				              operator="and">
				           <instanceof
				                 value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
				           </instanceof>
							<test 
								property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>	
				        </iterate>
				        <count
				              value="1">
				        </count>
				     </and>
				</with>
			</visibleWhen>
			
		</command>
	 <separator
           name="de.dlr.sc.virsat.visualisation.ui.colormap"
           visible="true">
     </separator>
		<command
			commandId="de.dlr.sc.virsat.visualisation.ui.colorMapParameter"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
				     <and>
				        <iterate
				              ifEmpty="false"
				              operator="and">
				           <instanceof
				                 value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
				           </instanceof>
							<test 
								property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>	           
				        </iterate>
				        <count
				              value="1">
				        </count>
				     </and>
				</with>
			</visibleWhen>
		</command>
		<separator
           name="de.dlr.sc.virsat.visualisation.ui.animation"
           visible="true">
     </separator>
		<command
			commandId="de.dlr.sc.virsat.visualisation.ui.animation"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
				     <and>
				        <iterate
				              ifEmpty="false"
				              operator="and">
				           	<instanceof
				                 value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
							</instanceof>
							<test 
								property="de.dlr.sc.virsat.model.extension.visualisation.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>							
				        </iterate>
				        <count
				              value="1">
				        </count>
				     </and>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="de.dlr.sc.virsat.project.ui.view.catgeory.virsat.core"
          class="de.dlr.sc.virsat.model.extension.visualisation.ui.VtkClientView"
          icon="resources/icons/3d_viewer.gif"
          id="de.dlr.sc.virsat.model.extension.visualisation.ui.vtkview"
          name="3D Viewer"
          restorable="true">
    </view>
    <view
          category="de.dlr.sc.virsat.project.ui.view.catgeory.virsat.core"
          class="de.dlr.sc.virsat.model.extension.visualisation.ui.DebugClientView"
          icon="resources/icons/3d_debug.png"
          id="de.dlr.sc.virsat.model.extension.visualisation.ui.proto.debug.view"
          name="3D Protocol Debug Viewer"
          restorable="true">
    </view>
 </extension>
 <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.dlr.sc.virsat.model.extension.visualisation.ui.contentProvider.VisualizationDeltaModelFolderContentProvider"
            id="de.dlr.sc.virsat.visualisation.deltaModel.folder.content"
            labelProvider="de.dlr.sc.virsat.project.ui.navigator.labelProvider.VirSatStructuralElementInstanceFolderLabelProvider"
            name="VirSat - Visualization Delta Model Folder"
            priority="highest"
            providesSaveables="false">
         <possibleChildren>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="de.dlr.sc.virsat.project.resources.VirSatProjectResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof></or>
         </triggerPoints>
         <dropAssistant
               class="de.dlr.sc.virsat.project.ui.navigator.dropAssist.VirSatStructuralElementInstanceFolderDropAdapterAssistant"
               id="de.dlr.sc.virsat.project.ui.dropAssistant1">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
            viewerId="de.dlr.sc.virsat.project.ui.navigator.view">
         <includes>
          	<contentExtension
                  isRoot="false"
                  pattern="de.dlr.sc.virsat.visualisation.deltaModel.folder.content">
            </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.dlr.sc.virsat.model.extension.visualisation.ui.perspective.VisualizationPerspective"
            icon="resources/icons/Visualisation.gif"
            id="de.dlr.sc.virsat.model.extension.visualisation.ui.perspective1"
            name="VirSat - Visualization">
      </perspective>
   </extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
